body{
    background-color: black;
}

img.colegii {
    width: 100%;
}

.activePage a {
    color: black !important ;
}

.gridRealizari {
    padding: 20px;
    align-items: center;
    margin-left: 350px;
    width: 558px;
    height: 258px;
    border-radius: 60px;
    background-color: #FFFFFF;
    margin-top: 105px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    justify-content: center;
}
